# macOS
.DS_Store
**/.DS_Store

# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Large project data
CapstoneProject/data/raw/
CapstoneProject/data/processed/

